[Desktop Entry]
Encoding=UTF-8
Name=Nathan Wallpaper Setter
Icon=wallpaper.png
Comment=Set backdrop image
Exec=wallpaper
Terminal=false
Type=Application
Categories=DesktopSettings
GenericName=Wallpaper setter
NoDisplay=true
Comment[fi]=Vaihda työpöydän taustakuvaa
Name[bg]=Смени картината на Работния плот
Name[da]=Pwallpaper skrivebordsbaggrundsbillede
Name[de]=Pwallpaper Hintergrundbild-Auswahl
Name[es]=Fondo de pantalla
Name[es]=Selector de Fondo de Pantalla Nathan
Name[fi]=Työpöydän taustakuvan vaihto
Name[hu]=Nathan háttérkép beállító
Name[it]=Nathan preferenze sfondo del desktop
Name[ja]=Wallpaper 背景画像の設定
Name[nl]=Pwallpaper bureaublad-achtergrond kiezer
Name[pl]=Pwallpaper wybór tapety
Name[pt_BR]=Papel de parede
Name[pt]=Padrão de fundo
Name[ru]=Pwallpaper выбор фонового изображения
#Name[ru]=Установка фонового изображения
Name[zh_CN]=设置桌面背景
Name[de]=Pwallpaper Puppys Tapete
Comment[de]=wählt Hintergrundbild aus
